<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}!
  </h1>

  <input type="text" [(ngModel)]="title">
  <p>{{title}}</p>

  <p [innerHTML]="'aston c\'est cool'" [style.color]="'red'"> Lorem ipsum dolor, sit amet </p>

  <input type="checkbox" [checked]="1 == 1" [hidden]="5 != 4"> {{name}}
  <hr>

  <button (click)="clickMe()">Click Me !!!!</button>

  <input type="text" class="form-control" [(ngModel)]="name">
  <input type="text" class="form-control" (input)="updateName($event)">

  <button (click)="switchBtn()">{{state}}</button>

  <textarea [(ngModel)]="limiteText" cols="30" rows="10" [style.color]="(limiteText.length > 140 ? 'red':'black')"></textarea>
  {{limiteText.length}}



</div>

<div class="container">
  <div class="jumbotron">
    <app-hello></app-hello>
  </div>
</div>