<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <app-echo></app-echo>

  <hr>

  <h1>
    {{title}}!
  </h1>

  <input type="text" [(ngModel)]="title" #myField>{{myField.value.length}}
  <p>{{title}}</p>

  <p [innerHTML]="'aston c\'est cool'" [style.color]="'red'"> Lorem ipsum dolor, sit amet </p>

  <input type="checkbox" [checked]="1 == 1" [hidden]="5 != 4"> {{name}}
  <hr>

  <button (click)="clickMe()">Click Me !!!!</button>

  <input type="text" class="form-control" [(ngModel)]="name">
  <input type="text" class="form-control" (input)="updateName($event)">

  <button (click)="switchBtn()">{{state}}</button>

</div>

<div class="container">
  <div class="jumbotron">
    <app-hello></app-hello>
  </div>
  <app-areatext></app-areatext>

  <app-todo></app-todo>
  <app-todo></app-todo>

  <!-- utilisation *ngIf  -->
  <p *ngIf="showDemo; else myTemplate">
    Lorem ipsum
  </p>
  <ng-template #myTemplate>
    <h3>patati patata !!!!</h3>
  </ng-template>

  <button (click)="demo()">Demo</button>

</div>